<!DOCTYPE html>
<html>
  <head>
    <title>CiteNet</title>

    <!-- Stylesheet Imports -->
    <link rel="stylesheet" href="stylesheets/front-page.css" />
    <link rel="stylesheet" href="stylesheets/selectize.css" />
    <link rel="stylesheet" href="stylesheets/selectize-option.css" />
    <link rel="stylesheet" href="stylesheets/mdc.button.css" />
    <link rel="stylesheet" href="stylesheets/tippy-style.css" />
    <link rel="stylesheet" href="stylesheets/vex.css" />
    <link rel="stylesheet" href="stylesheets/vex-theme-wireframe.css" />
    <link rel="stylesheet" href="stylesheets/vex-modal-style.css" />
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Bootstrap core CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.5.15/css/mdb.min.css" rel="stylesheet">
    </head>
  <body>

    <!-- D3 Canvas -->
    <svg id="network" style="display: none;"></svg>

    <!-- Post Layout Buttons -->
    <div id="post-layout-buttons" class="container-fluid h-10 animated fadeIn slow" style="display: none;">

      <div class="row h-0 justify-content-left align-items-left">
        <div class="col-0">
            <button id="home-button" type="button" class="btn btn-primary btn-md">
              H
            </button>
        </div>
      </div>

      <div class="row h-0 justify-content-left align-items-left">
        <div class="col-0">
            <button id="refine-button" type="button" class="btn btn-primary btn-md">
              R
            </button>
        </div>
      </div>

    </div>

    <!-- Front Page Div -->
    <div class="jumbotron d-flex align-items-center">
      <div id="front-page" class="container text-center">
        <!-- Title -->
        <h1 class="card-title h1 text-center">CiteNet</h1>
        <!-- Subtitle -->
        <p class="orange-text my-4 font-weight-bold text-center">A powerfully intuitive way to search the scientific literature</p>
        <hr class="my-4">
        <!-- Selectize Input -->
        <span id="selectize-span">
          <input id="selectize" type="text" name="selectize-form-input">
        </span>
        <!-- GO Button -->
        <button id="selectize-go-button" type="button" class="btn purple-gradient btn-block" disabled>
          GO
        </button>
      </div>
    </div>


    <!-- D3 Canvas -->
    <svg id="network" style="display: none;"></svg>

    <!-- Script Import -->
    <script src="javascript/main-bundle.js"></script>



  </body>
</html>
