<!DOCTYPE html>
<html>
  <head>
    <title>D3 test</title>

    <!-- Stylesheet Imports -->
    <link rel="stylesheet" href="stylesheets/front-page.css" />
    <link rel="stylesheet" href="stylesheets/tippy-style.css" />
  </head>
  <body>
    <svg id="network" width="500" height="500"></svg>

    <!-- Script Import -->
    <script src="javascript/main-bundle.js"></script>
  </body>
</html>
