<!DOCTYPE html>
<html>
   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
      <meta http-equiv="x-ua-compatible" content="ie=edge">
      <title>CiteNet</title>
      <!-- Font Awesome -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
      <!-- Bootstrap core CSS -->
      <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">
      <!-- Material Design Bootstrap -->
      <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.5.15/css/mdb.min.css" rel="stylesheet">
      <!-- Google Fonts -->
      <link href="https://fonts.googleapis.com/css?family=Raleway|Roboto" rel="stylesheet">
      <!-- Custom styles -->
      <link rel="stylesheet" href="stylesheets/front-page.css" />
      <link rel="stylesheet" href="stylesheets/selectize.css" />
      <link rel="stylesheet" href="stylesheets/selectize-option.css" />
      <link rel="stylesheet" href="stylesheets/mdc.button.css" />
      <link rel="stylesheet" href="stylesheets/tippy-style.css" />
      <link rel="stylesheet" href="stylesheets/vex.css" />
      <link rel="stylesheet" href="stylesheets/vex-theme-wireframe.css" />
      <link rel="stylesheet" href="stylesheets/vex-modal-style.css" />
   </head>
   <body>
      <!--Main Navigation-->
      <header>
      </header>
      <!--Main Navigation-->

      <!--Main Layout-->
      <main>

        <!-- D3 Canvas -->
        <svg id="network" style="display: none;"></svg>
         <div class="jumbotron vertical-center">

            <!-- Post Layout Buttons -->
            <div id="post-layout-buttons" class="container-fluid h-10 animated fadeIn slow" style="display: none;">
               <div class="row h-0 justify-content-left align-items-left">
                  <div class="col-0">
                      <button id="home-button" type="button" class="btn peach-gradient btn-md">
                        <i class="fa fa-home"></i>
                      </button>
                  </div>
               </div>
               <div class="row h-0 justify-content-left align-items-left">
                  <div class="col-0">
                      <button id="refine-button" type="button" class="btn peach-gradient btn-md">
                        <i class="fa fa-search"></i>
                      </button>
                  </div>
               </div>
            </div>

            <!-- Main Page Content -->
            <div id="front-page" class="container text-center">

               <!-- Title -->
               <h1 class="card-title h1 text-center animated fadeIn slow">CiteNet</h1>

               <!-- Selectize Input -->
               <span id="selectize-span">
                 <input id="selectize" type="text" name="selectize-form-input" aria-label="Search" required>
               </span>

               <!-- GO Button -->
               <button id="selectize-go-button" type="button" class="btn peach-gradient btn-block" disabled>
                 <i class="fa fa-search"></i>
               </button>

               <!-- Subtitle -->
               <p class="orange-text my-4 font-weight-bold text-center animated fadeIn delay-1s">A powerfully intuitive way to search the scientific literature</p>
            </div>
         </div>

      </main>
      <!--Main layout-->

      <!--Footer-->
      <footer>
      </footer>
      <!--Footer-->

      <!-- Custom script import -->
      <script src="javascript/main-bundle.js"></script>
   </body>
</html>
