<!DOCTYPE html>
<html>
  <head>
    <title>D3 test</title>

    <!-- Stylesheet Imports -->
    <link rel="stylesheet" href="stylesheets/front-page.css" />
    <link rel="stylesheet" href="stylesheets/selectize.css" />
    <link rel="stylesheet" href="stylesheets/selectize-option.css" />
    <link rel="stylesheet" href="stylesheets/mdc.button.css" />
    <link rel="stylesheet" href="stylesheets/tippy-style.css" />
    <link rel="stylesheet" href="stylesheets/vex.css" />
    <link rel="stylesheet" href="stylesheets/vex-theme-wireframe.css" />
    <link rel="stylesheet" href="stylesheets/vex-modal-style.css" />
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Bootstrap core CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.5.15/css/mdb.min.css" rel="stylesheet">
    </head>
  <body>

    <!-- D3 Canvas -->
    <svg id="network" style="display: none;"></svg>

    <!-- Post Layout Buttons -->
    <div id="post-layout-buttons" class="container-fluid h-10 animated fadeIn slow" style="display: none;">
        
      <div class="row h-0 justify-content-left align-items-left">
        <div class="col-0">
            <button id="home-button" type="button" class="btn btn-primary btn-md">
              H
            </button>
        </div>
      </div>

      <div class="row h-0 justify-content-left align-items-left">
        <div class="col-0">
            <button id="refine-button" type="button" class="btn btn-primary btn-md">
              R
            </button>
        </div>
      </div>

    </div>

    <!-- Front Page Div -->
    <div id="front-page" class="container-fluid h-100 animated fadeIn slow" style="display: none;">

      <div class="row h-100 justify-content-center align-items-center">
        <div class="col-8">
          <!-- Selectize Input -->
          <span id="selectize-span">
            <input id="selectize" type="text" name="selectize-form-input">
          </span>
        </div>

        <div class="col-2">
          <!-- GO Button -->
          <button id="selectize-go-button" type="button" class="btn btn-primary btn-md" disabled>
            GO
          </button>
        </div>
      </div>
    </div>

    <!-- Script Import -->
    <script src="javascript/main-bundle.js"></script>
    
  </body>
</html>
