<!DOCTYPE html>
<html>
  <head>

      <link rel="stylesheet" href="stylesheets/cytoscape-style.css" />

  </head>
    <body>

      <div id='cy'>
      </div>

      <script src="javascript/cytoscape.min.js"></script>
      <script src="javascript/layout.js"></script>
    </body>
</html>
