#home_div {
  position: absolute;
  width: 30px;
  height: 30px;
  z-index: 2;
}

#home_button {
  background-color: #38f5be;
}

#refine_div {
  position: absolute;
  padding-top: 38px;
  width: 30px;
  height: 30px;
}

#add_refine_button {
  width: 30px;
  height: 30px;
  float: right;
}

.add_refine_button_pressed {
  background-color: #eee !important;
}

#slider-div {
  position: absolute;
  width: 400px;
  top: 90%;
  /* right: 20%; */
  left: calc(50vw - 200px);
  background-color: rgba(255, 255, 255, 0.85);

}
