/* .tippy-tooltip[data-template-id="#tippy-option-dropdown"] {
  font-family: Arial;
  font-size: 13px;
  color: #ddd;
}

.html-template:focus {
  outline: none;
} */

#paper-div {
  position: absolute;
  font-family: Arial;
  top: 33%;
  right: 20%;
  left: 20%;
  /* border: solid 1px black; */
}

#paper-select-div {
  display: none;
  float: left;
  width: 82%;
  /* padding-right: 2%; */
  /* border: solid 1px black; */
}

#paper-submit-options-div {
  display: none;
  float: left;
  height: 100%;
  width: 4%;
  padding-left: 5px;
}

#paper-submit-div {
  display: none;
  position: relative;
  float: left;
  width: 10%;
  /* border: solid 1px black; */
  padding-left: 5px;
}

#selectize {
}

#paper-submit-options {
  background-color: #ddd;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  border: solid 1px #aaa;
}

#paper-submit-options:hover {
  background-color: #eee;
}

#selectize_submit {
  /* margin: 0 auto; */
}



.paper-option {
  border-bottom: 1px solid grey;
}

.paper-title {
  font-size: 13px;
  font-weight: bold;
  padding-left: 5px;
}

.paper-authors {
  font-size: 11px;
  padding-left: 15px;
}

.tipster {
  border: solid 1px #222;
}

/* .selectize-input {
  white-space: nowrap;
} */
