.selectize-option {
  border-bottom: 1px solid grey;
}

.selectize-option-title {
  font-size: 13px;
  font-weight: bold;
  padding-left: 5px;
}

.selectize-option-authors {
  font-size: 11px;
  padding-left: 15px;
}