#vex_title_div {
  font-size: 24px;
  width: 92%;
  display: inline-block;
}

#vex_header_div {
  padding-bottom: 15px;
  border-bottom: 1px solid grey;
}

#journal_span {
  float: right;
}

#date_journal_div {
  font-size: 16px;
  padding-top: 8px;
}

#author_div {
  font-size: 12px;
}

#abstract_div {
  font-size: 16px;
}
