.network-root {
    height: inherit;
    width: inherit;
    display: flex;
    flex: 1;
}

.network-links {
    stroke: black;
    stroke-width: 2px;
}

.network-nodes {
    fill: red;
}

.network-node-popover {
    pointer-events: none;
}

.network-node-popover-grid {
    padding: 10px;
    max-width: 300px;
}