.network-root {
    height: inherit;
    width: inherit;
    display: flex;
    flex: 1;
}

.network-links {
    stroke: black;
    stroke-width: 2px;
}

.network-nodes {
    fill: red;
}

.network-node-popover {
    pointer-events: none;
    /* display: flex; */
}

.network-node-popover > div {
    width: 250px;
    padding: 10px;
}