#vex-title-div {
  font-size: 24px;
  width: 92%;
  display: inline-block;
}

#vex-header-div {
  padding-bottom: 5px;
  border-bottom: 1px solid grey;
}

#journal-span {
  float: right;
}

#date-journal-div {
  font-size: 16px;
  padding-top: 8px;
}

#author-div {
  font-size: 12px;
}

#abstract-div {
  font-size: 16px;
}

#add-to-refine-button {
  width: 30px;
  height: 30px;
  min-width: 30px;
  min-height: 30px;
  float: right;
}
